--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.10.0
streamlit==1.53.0
pytest
pytest-cov
pandas==2.3.3
numpy==2.4.1
scipy==1.17.0
scikit-learn==1.8.0

tqdm==4.67.2
RapidFuzz==3.14.3
requests==2.32.5
GitPython==3.1.46
pyarrow==23.0.0
